{% extends 'base.html' %}

{% block body_id %}about-us{% endblock %}

{% block content %}
<article class="about-us">
    <div>
         <div class="text">
            <div>
                <p>
                    Aulet Abiega arquitectos <br>
                    es un equipo de profesionales <br>
                    dedicados al desarrollo <br>
                    integral de obras <br>
                    de arquitectura, <br>
                    comprendiéndolas <br>
                    como la estructura física <br>
                    de un proyecto social. <br>
                </p>
                <br>
                <p>
                    El equipo reúne <br>
                    un amplio abanico <br>
                    de experiencias que, <br>
                    trabajando con sinergia <br>
                    y compromiso, brinda <br>
                    la capacidad y versatilidad <br>
                    para desarrollar <br>
                    todo tipo de obras. <br>
                </p>
            </div>
        </div>
        <div class="photo"></div>
    </div>
</article>
{% endblock %}
